@media (max-width:1270px) {
	.footer__menu .menu__column {margin-left: 15px;}
	.footer__menu .menu__column:last-child {margin-left: 15px; margin-right: 0;}
	.footer__bottom-right {width: 33.5%;}
	.footer__copyright {max-width: 180px; font-size: 13px;}
	.footer__certificate {font-size: 13px;}
	.footer__links li {font-size: 13px;}
}

@media (max-width:1000px) {
	.footer__top {flex-wrap: wrap;}
	.footer__logoblock {width: 100%; flex-wrap: wrap; justify-content: space-between;}
	.footer .afterlogo {width: 100%; margin-left: 0; padding-left: 0; font-size: 16.5px; margin-top: 20px;}
	.footer .afterlogo:before {display: none;}
	.footer__menu {margin-top: 28px; width: 100%; border-top: 1px solid #e6e7e9; border-bottom: 1px solid #e6e7e9; padding-top: 25px; display: flex; justify-content: space-between; padding-bottom: 32px;}
	.footer__menu .menu__column {width: 50%; margin-left: 0; padding-right: 20px; box-sizing: border-box;}
	.footer__bottom {margin-top: 25px; flex-wrap: wrap;}
	.footer__certificate {max-width: 100%; width: 100%; margin-right: 0; margin-top: 0; padding-right: 2px; font-size: 14px;}
	.footer__mail {margin-top: 24px;}
	.footer__certificate br {display: none;}
	.footer__links {width: 100%; margin-top: 21px; display: flex;}
	.footer__links li {width: 50%; margin-left: 0; padding-right: 20px; box-sizing: border-box; font-size: 14px; line-height: 1.6em;}
	.footer__copyright {max-width: 100%; margin-top: 24px; font-size: 14px;}
	.footer__bottom-left {width: 100%;}
	.footer__bottom-right {width: 100%; margin-top: 30px;}
}

@media (max-width:645px) {
	.footer__mail {width: 100%;}
	.footer__copyright {width: 100%; margin-left: 0;}
}

@media (min-width:1001px) {
	.mobile {display: none !important;}
}















// Адаптивная верстка //
@media (max-width:1000px) {
  .container {/*width:600px*/}
}



@media (max-width:649px) {
  .container {/*width:400px*/}
}



@media (max-width:479px) {
  .container {/*width:90%*/}
}
// Адаптивная верстка //